.header_img {
    display: flex;
    justify-content: flex-start;
    height: 65vh; 
    overflow: hidden; 
    background-image: url(../media/img/Dierenasiel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
  }
  .container-logo {
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .logo {
    width: 120px; 
    height: auto; 
  }

  
  .wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapper3 {
    display: flex;
    flex-direction: row;
    justify-content : center;
  }

.photo {
    position: relative;
    margin: 20px;
    width: 800px;
    height: 700px; 
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease; 
}

.photo:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay1 {
    background-color: rgba(212, 172, 149, 0.5);
}

.overlay2 {
    background-color: rgba(198,147,203, 0.5);
}

.text {
    color: white;
    font-size: 20px;
}
.text2 {
    color: white;
    font-size: 20px;
}

.photo:hover .overlay {
    opacity: 0.5;
}
.photo2:hover .overlay {
    opacity: 0.5;
}
.name1{
    color:rgba(212, 172, 149, 0.5); 
}

.name2{
    color:rgba(198,147,203, 0.5);; ;
}