.header_img {
    display: flex;
    justify-content: flex-start;
    height: 65vh;
    overflow: hidden;
    background-image: url(../media/img/Dog.AnimalShelter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    flex-direction: column;
  }


  
  /*Inhoud pagina*/

  main {
    margin-top: 3vh;
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 2.5vh;
  }

  #selectie {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 100%;
  }

  .wrapper2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .hyper {
    height: 450px;
    width: 330px;
    background-color: gainsboro;
    border-radius: 25px;
  }

  .dierLink {
    display: flex;
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }

  .dierFoto {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
  }

  .wrapper3 {
    display: flex;
    position: absolute;
    padding: 25px;
    flex-direction: column;
    font-size: xx-large;
  }

  .wrapper3>* {
    opacity: 0;
    transition: all 0.75s ease-out;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0);
    height: inherit;
    width: inherit;
    position: absolute;
    border-radius: inherit;
    transition: ease-out all 0.75s;
  }

  .hyper:hover .wrapper3>* {
    opacity: 1;
  }

  .hyper:hover .overlay {
    background-color: rgba(0, 0, 0, 0.696);
  }
  /*Media Qureies*/

  @media only screen and (max-width: 1200px) {
    .tile-container {
      flex-wrap: wrap;
      justify-content: center;
    }
  }