body {
    overflow-x: hidden;
    margin: 0;
    font-family: Gill Sans, sans-serif;
    color: white;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

header {
    position: fixed;
    z-index: 2  ;
    height: 10.5vh;
    box-shadow: 1px -5px 20px black;
    background-color: rgb(226, 223, 223);
    width: 100vw;
}

.header_img {
    user-select: none;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
}

#filler {
    width: 55%;
}

#logo_header {
    width: 10%;
    user-select: none;
}

#logo {
    height: 90%;
    margin: 3px;
    user-select: none;
}

#buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    text-align: center;
}

.header_bttn {
    border-radius: 10px;
    height: 70%;
    padding: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.span_buttons {
    font-size: 1.7vw;
    padding: 5px;
}

#log {
    background-color: rgb(232, 232, 53);
}

#don {
    background-color: rgb(45, 119, 45);
}


a {
    text-decoration: none;
    color: inherit;
}
